GH_SERVER = "github.com"
TEMP = "/home/ubuntu/jekyll-hook"
SECRET = ""

SCRIPTS = {
    'jekyll': ["./scripts/build-jekyll.sh", "./scripts/publish-jekyll.sh"],
    'static': ["./scripts/build-static.sh", "./scripts/publish-static.sh"],
}

ACCOUNTS = ["datamade"]

SENTRY_DSN = ''
REDIS_QUEUE_KEY = 'REDIS?'

